[Unit]
Description=Disable devices those are interupting suspend by wakingup the system.

[Service]
ExecStart=/home/%i/.config/systemd/user/scripts/suspend-fix
Type=oneshot

[Install]
WantedBy=default.target
